<section class="section">
      <div class="container">
        <p
          class="title has-text-black has-text-black-bold is-2 mt-10 is-flex is-justify-content-center"
        >
          <strong>Estaciona Fácil</strong>
        </p>
        <p
          class="title has-text-black is-4 mt-5 is-flex is-justify-content-center"
        >
          Seu estacionamento online
        </p>
        <p
          class="title has-text-black is-5 mt-5 is-flex is-justify-content-center"
        >
          Rápido e Fácil
        </p>
      </div>
    </section>

